*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

main{
    max-width: 780px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin-top: 20px;
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr{
        width: 100%;
    }
}
*.hidden:not(td){
    display: none !important;
}

.title, .info, #change_mode{
    margin-bottom: 20px;
}

h1{
    font-size: 2em;
    *{
        font-size: 1em;
    }
}
p{
    font-size: 1.2em;
    b{
        font-size: 1em;
    }
}

span#name{
    font-style: italic;
}

#result{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hidden{
        display: none;
    }
}

button#new_game{
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    background: hsl(0, 0%, 60%);
    border: none;
    cursor: pointer;
}

#input{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    .gap{
        width: 20px;
    }
}

table{
    td{
        padding: 0.5em;
        color: #fff;    
    }
    td.b{
        color: #000;
    }
    td.hidden{
        color: #0000;
    }
    td.orange{
        color: hsl(19, 100%, 35%);
    }
    td.wrong{
        color: #f00;
    }
    td.active{
        outline: 2px solid #f00;
    }
    td.guessable:not(.guessed){
        user-select: none;
        cursor: pointer;
    }

    tr.vertical td.guessable{
        width: 33px;
        vertical-align: top;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
        }
    }
}

.desktop_table{
    .year{
        transform: translateX(-2em);
    }

    @media (max-width: 800px){
        tr td:first-child{
            display: none;
        }
    }
}

.mobile_table{
    display: none;
}

@media (max-width: 700px){
    .desktop_table{
        display: none;
    }
    .mobile_table{
        display: block;
    }
}

#hadaikum{
    background: #b41e8d;
}
#archaikum{
    background: #ed028c;
}
#proterozoikum{
    background: #f05978;
}
#phanerozoikum{
    background: #8fd7ed;
}
#pal채ozoikum{
    background: #9dc2a6;
}
#mesozoikum{
    background: #47c7eb;
}
#k채nozoikum{
    background: #f4ed2f;
}
#kambrium{
    background: #8aaa78;
}
#ordovizium{
    background: #00a78e;
}
#silur{
    background: #b2ddca;
}
#devon{
    background: #ce9c5a;
}
#karbon{
    background: #68aeb1;
}
#perm{
    background: #e76549;
}
#trias{
    background: #8e52a1;
}
#jura{
    background: #00b9e7;
}
#kreide{
    background: #85c86f
}
#pal채ogen{
    background: #f9a86f;
}
#neogen{
    background: #ffdd2b;
}
#quat채r{
    background: #fff89a;
}